@import '../../sass/utils/variables';

.navigation {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 20px 0;
  transition: right 0.3s;
  z-index: 40;

  @media (max-width: 980px) {
    gap: 15px;
    font-size: 1.4rem;
  }

  @media (max-width: 900px) {
    position: absolute;
    flex-direction: column;
    gap: 25px;
    padding-top: 100px;
    right: -999px;
    width: 320px;
    top: 0;
    min-height: 100vh;
    font-size: 2rem;
    background: $bg-color;
    z-index: 20;
  }

  .navigation__link {
    position: relative;
    color: $text-color;
    text-decoration: none;

    &::before {
      content: '';
      position: absolute;
      width: 0;
      right: 0;
      height: 3px;
      bottom: -15px;
      background-color: $text-color-secondary;
      transition: width ease-in-out 1s;
    }

    &:hover {
      &::before {
        width: 100%;
        left: 0;
      }
    }

    &:active {
      color: #0f467d
    }
  }
}

.burger-menu__button {
  display: none;
  position: relative;
  z-index: 30;
  width: 80px;
  height: 80px;
  transition: 0.4s;
  cursor: pointer;

  @media screen and (max-width:900px) {
    display: block;
  }

  &:hover {
    .burger-menu__lines {
      filter: brightness(0.7);
    }
  }
  


  .burger-menu__lines::before,
  .burger-menu__lines::after,
  .burger-menu__lines {
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: $text-color-secondary;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::before {
      content: '';
      top: -12px;
      left: 0;
    }
    &::after {
      content: '';
      top: 12px;
      left: 0;
    }
  }
}

.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.burger-menu_active {

  .burger-menu__lines {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
    }
    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }

  .navigation {
    right: 0;
  }

  .burger-menu__overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

