@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.education {
  max-width: $content-width;
  width: 100%;
  padding: $section-padding;

  @media screen and (max-width:1040px) {
    padding: 50px;
  }
  @media screen and (max-width:900px) {
    padding: 50px 10px;
  }
}

.books-wrapper {
  padding-top: 50px;
}