@import '../../sass/utils/variables';
@import '../../sass/utils/mixins';

.header {
  position: fixed;
  @include flex-center;
  padding: 10px 20px;
  color: $color-white;
  background-color: $color-white;
  text-align: center;
  width: 100%;
  z-index: 3;
  
  .header-wrapper {
    @include flex-center;
    justify-content: space-between;
    max-width: $content-width;
    width: 100%;
    color: #fff;
  }
}