@import "./sass/base/normalize";
@import "./sass/base/typography";
@import "./sass/utils/variables";
@import "./sass/utils/mixins";

* {
  box-sizing: border-box;
  margin: 0;
  
}
html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;

}

body {
  font-family: Ubuntu, sans-serif;
  font-size: 1.4rem;
  color: $text-color;
  background-color: $bg-color;
}

h1, h2, h3, h4 {
  font-family: Poppins, sans-serif;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  flex: 1;
}
